/*common start*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}
/*common end*/
/*header start*/

header{
    padding: 20px 0;
}
.container{
    margin: 0 auto;
    width: 90%;
    
    overflow: hidden;
    
}
.logo{
    margin-top: 13px;
    width: 11%;
    
    float: left;
    
}
.logo img{
    width: 100%;
}
.menu{
    width: 65%;
    
    float: right;
}
.menu ul{
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;
    
}
.menu ul li a {
    
    margin: 0 50px;
    padding: 4px 1px 3px;
    display: inline-block;
    font-size: 14px;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
    transition: .3s;
    
}
.menu  ul li :last-child {
    margin-right: 0;
}
.menu ul li  :hover{  
    border-bottom: 1px solid #626262;
}


/*header end*/

/*Banner start*/
.banner{}
.b_img{}
.b_img img{
    width: 100%;
}

/*Banner end*/

/*perfect start*/
.perfect{
    padding-top: 100px;
    padding-bottom: 100px;
}
.container2{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    
}
.p_content{}
.c_light{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #b4ad9e;
    text-transform: uppercase;
}
.c_h1{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 400;
}
.c_text{
    margin: 0;
    line-height: 25px;
}
.mb_40{
    margin-bottom: 40px;
}

/*perfect end*/
/*Blog start*/
.blog{
    padding-top: 35px;
    padding-bottom: 100px;
    
}
.blogs{}
.single{
    margin-top: 70px;
    width: 47%;
    float: left;
    green;
}
.single:nth-child(even){
    margin-left: 6%;
}
.s_img{
    margin-bottom: 25px;
}
.s_img img{
    width: 100%;
}

/*Blog end*/
/*contact start*/
.contact{
    padding: 50px;
    background-color: #f0f0f0;
}
.signup{
    text-align: center;
}
.signup h2{
    color: #333333;
    
}
.s_form{
    position: relative;
    margin: 0 auto;
    width: 400px;
}
.s_form input{
    width: 340px;
    height: 45px;
    font-size: 14px;
    font-family: 'Playfair Display', sans-serif;
    
    background: transparent;
    border: none;
    border-bottom: 1px solid  black;
    
    
}
.s_form input:focus{
    outline: 0;
    
}
.s_form button{
    position: absolute;
    border: none;
    cursor: pointer;
    top: 15px;
    right:20px;
    background: transparent;
}
.s_form button:focus{
    outline: 0;
}
.s_form button img{}
/*contact end*/


/*blog2 start*/

.b_load{
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;
}
.btn{
    width: 150px;
    height: 50px;
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #626262;
    border: 1px solid;
    background: transparent;
    transition: .5s;
}
.btn:hover {
    background: #626262;
    color: #fff;
}
/*blog2 end*/
/*footer start*/
footer{
   
    background: #f0f0f0;
    padding-bottom: 0;
    
}
.terms{
    
    width: 50%;
    float: left;
    
    
}
.terms ul li{
    font-size: 12px;
    list-style: none;
    
    color: black;
    float: left;
    font-weight: bold;
    
    

}
.terms ul li a{
    display: inline-block;
    margin-right: 20px;
    color: #333333;
    text-decoration: none;
    
}
.socialmedia{
    width: 40%;
    float: right;
    
    
}
.socialmedia ul{
    list-style: none;
    float: right;
    
}
.socialmedia ul li{
    list-style: none;
    float: left;
    
}
.follow{
    font-size: 12px;
    margin-right: 20px;
    font-weight: bold;
    color: black;
    
    
}
.socialmedia ul li a{
    display: inline-block;
    margin-right: 20px;
    color: #333333;
}
.w{
    
}
/*footer end*/














